# NOTE this file exists exclusively for use by https://readthedocs.org
alabaster
argh
Babel
backports-abc
certifi
cookies
den
docutils
funcsigs
imagesize
influxdb
Jinja2
livereload
MarkupSafe
mock
pathtools
pbr
port-for
Pygments
python-dateutil
python-forecastio
pytz
PyYAML
requests
responses
singledispatch
six
snowballstemmer
Sphinx
sphinx-argparse
sphinx-autobuild
tornado
watchdog
